.adventures {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 24px 16px 10px 0px;
  cursor: pointer;

}


.adventures:nth-child(odd) img:hover {
  transform: scale(1.3) rotate(-3deg);
  transition: transform 0.3s ease-in-out;

}

.adventures:nth-child(even) img:hover {
  transform: scale(1.3) rotate(5deg );
  transition: transform 0.3s ease-in-out;
}

.adventures .country {
  font-size: 10px;
  color: #767677;
  font-weight: 700;
  margin-top: 8px;
}

.adventures .plan {
  font-size: 16px;
  font-weight: 700;
  color: #3f3f3f;
  max-width: 188px;

  margin-top: 4px;
}

.adventures .star {
  color: #008489;
  font-size: 12px;
  margin-top: 5px;

}

@media (max-width: 275px) {
  .adventures .adventure-image {
    width: 100%;
  }
}