.adventures {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 24px 16px 10px 0px;
  cursor: pointer;
}

.adventures .country {
  font-size: 10px;
  color: #767677;
  font-weight: 700;
  margin-top: 8px;
}

.adventures .plan {
  font-size: 16px;
  font-weight: 700;
  color: #3f3f3f;
  max-width: 188px;

  margin-top: 4px;
}

.adventures .plan-price {
  font-weight: 300;
  font-size: 14px;
  margin-top: 8px;
  color: #484848;
  max-width: 188px;
  line-height: 21px;
}

.adventures .star {
  color: #008489;
  font-size: 12px;
  margin-top: 5px;

}