.explorer { 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.explorer img {
  margin-right: 24px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.explorer span{
  color: #484848;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 530px) {
  .explorer {
    margin-bottom: 20px;
    margin-top: 10px; 
  }
}