header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 23px;
}

header a {
  color: #FFF;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-right: 24px;
}