header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 23px;
  animation: headerY .5s ease-out;
}

header a {
  color: #FFF;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-right: 24px;
  transition: filter .2s;
}

header a:hover {
  filter: brightness(80%);
}

@keyframes headerY {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);

  }
}